html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", serif;
  margin: auto;
  text-align: justify;
  font-size: 16px;
  line-height: 1.7;
}

h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }

h1.title {
  margin-top: 0;
  text-align: center;
}

p.author {
  text-align: center;
}

ol.toc {
  padding: 0;
  margin: 1em 0;
  padding: 0 0 0 2em;
}

ul.toc ul, ol.toc ol {
  margin: .3em 0;
}

li { margin: 0; padding: 0 5px; }

code {
  font-family: monospace;
  background-color: rgb(247, 247, 247);
}

pre {
  font-family: monospace;;
  padding: 16px;
  overflow: auto;
  font-size: 80%;
  line-height: 1.45;
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
}
