body {
  margin: 5%;
  text-align: justify;
  font-size: medium;
  font-family: Georgia, Times, "Times New Roman", serif;
}

code {
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

ol.toc {
  padding: 0;
  margin-left: 1em;
}

ol.toc li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.footnote-ref {
  vertical-align: super;
}

p {
  padding: 0;
  margin: 0;
  text-indent: 1em;
}

blockquote {
  margin-left: 3em;
  margin-right: 3em;
}

blockquote > p {
  text-indent: 0;
  margin-bottom: 1em;
}
